body {
    font-family: sans-serif;
    background-color: darkgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
    background-color: darkgrey;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.stuff{
    color: red;
    margin: 100;
    padding-left: 500;
    margin-left:100px;
    margin-right:100px;
}
